.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2011.23px;
  align-items: center;
  position: relative;
  background-color: var(--ocean-green50);
}

.home .header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  position: relative;
  background-color: var(--ocean-green100);
  box-shadow: 0px 0px 6px #0000001a;
}

.home .top {
  position: relative;
  width: 217px;
  height: 40px;
}

.home .links {
  align-items: center;
  gap: 56px;
  margin-top: -4px;
  margin-bottom: -4px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.home .nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.home .tab-link {
  display: flex;
  width: 62px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 16px;
  position: relative;
  border-radius: 0px 0px 8px 8px;
  overflow: hidden;
}

.home .text {
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  margin-left: -7px;
  margin-right: -7px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home .tab {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--label-font-family);
  font-weight: var(--label-font-weight);
  color: var(--ocean-green600);
  font-size: var(--label-font-size);
  text-align: center;
  letter-spacing: var(--label-letter-spacing);
  line-height: var(--label-line-height);
  white-space: nowrap;
  font-style: var(--label-font-style);
}

.home .text-wrapper {
  display: inline-flex;
  flex: 0 0 auto;
  border-radius: 0px 0px 8px 8px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 16px;
  position: relative;
  overflow: hidden;
}

.home .tab-wrapper {
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home .div-wrapper {
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  margin-left: -8.5px;
  margin-right: -8.5px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 0 0 auto;
  background-color: var(--ocean-green400);
  border-radius: 100px;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

.home .state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.home .label-text {
  position: relative;
  width: fit-content;
  margin-top: -2.5px;
  margin-bottom: -0.5px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: var(--ocean-green50);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.2px;
  white-space: nowrap;
}

.home .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 96px 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--ocean-green100);
}

.home .logo {
  position: relative;
  width: 200px;
  height: 109.23px;
}

.home .h {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .title {
  align-self: stretch;
  margin-top: -1px;
  font-weight: var(--tittle-font-weight);
  color: var(--ocean-green950);
  font-size: var(--tittle-font-size);
  text-align: center;
  line-height: var(--tittle-line-height);
  position: relative;
  font-family: var(--tittle-font-family);
  letter-spacing: var(--tittle-letter-spacing);
  font-style: var(--tittle-font-style);
}

.home .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 96px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--ocean-green100);
}

.home .div {
  display: flex;
  width: 416px;
  background-color: var(--ocean-green100);
  border-radius: 0px 0px 4px 4px;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-color: var(--ocean-green800);
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 16px;
  position: relative;
  overflow: hidden;
}

.home .tab-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--label-bold-font-family);
  font-weight: var(--label-bold-font-weight);
  color: var(--ocean-green700);
  font-size: var(--label-bold-font-size);
  text-align: center;
  letter-spacing: var(--label-bold-letter-spacing);
  line-height: var(--label-bold-line-height);
  white-space: nowrap;
  font-style: var(--label-bold-font-style);
}

.home .tab-link-2 {
  display: flex;
  width: 416px;
  border-radius: 0px 0px 8px 8px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 16px;
  position: relative;
  overflow: hidden;
}

.home .content {
  align-items: center;
  gap: 60px;
  padding: 64px 120px;
  background-color: var(--ocean-green50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .content-2 {
  align-items: flex-start;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .tittle {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--subtittle-bold-font-family);
  font-weight: var(--subtittle-bold-font-weight);
  color: var(--ocean-green950);
  font-size: var(--subtittle-bold-font-size);
  letter-spacing: var(--subtittle-bold-letter-spacing);
  line-height: var(--subtittle-bold-line-height);
  white-space: nowrap;
  font-style: var(--subtittle-bold-font-style);
}

.home .pesquisa {
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .campos {
  display: flex;
  flex-direction: column;
  width: 840px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.home .input {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 4px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.home .tittle-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .placeholder-wrapper {
  height: 48px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 8px;
  background-color: var(--ocean-green50);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--neutral-scale300);
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.home .placeholder {
  position: relative;
  flex: 1;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--neutral-scale400);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.home .feedback {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 17px;
}

.home .button-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 20px 0px;
  flex: 1;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}

.home .state-layer-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  background-color: var(--ocean-green400);
  border-radius: 100px;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

.home .label-text-2 {
  position: relative;
  width: fit-content;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: var(--ocean-green50);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.2px;
  white-space: nowrap;
}

.home .merch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 96px 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.home .row {
  display: flex;
  width: 1200px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.home .card {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: center;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--rose-400);
}

.home .image-container {
  display: flex;
  height: 270px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  overflow: hidden;
}

.home .image {
  flex: 1;
  flex-grow: 1;
  background-image: url(https://c.animaapp.com/AyIxxJl1/img/image@2x.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  align-self: stretch;
}

.home .tag {
  width: 340px;
  height: 270px;
  background-color: var(--rose-100);
  border-radius: 6px 0px 6px 0px;
  opacity: 0.85;
}

.home .title-wrapper {
  display: inline-flex;
  height: 80px;
  position: absolute;
  top: 95px;
  left: 1px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home .title-2 {
  width: 340px;
  font-weight: var(--tittle-bold-font-weight);
  color: var(--ocean-green950);
  font-size: var(--tittle-bold-font-size);
  text-align: center;
  line-height: var(--tittle-bold-line-height);
  position: relative;
  font-family: var(--tittle-bold-font-family);
  letter-spacing: var(--tittle-bold-letter-spacing);
  font-style: var(--tittle-bold-font-style);
}

.home .image-container-2 {
  display: flex;
  height: 270px;
  align-items: flex-start;
  width: 100%;
  position: relative;
  align-self: stretch;
}

.home .tag-wrapper {
  flex: 1;
  flex-grow: 1;
  background-image: url(https://c.animaapp.com/AyIxxJl1/img/image-1@2x.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  align-self: stretch;
}

.home .text-2 {
  display: flex;
  width: 340px;
  padding: 10px;
  position: absolute;
  top: 91px;
  left: 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home .title-3 {
  flex: 1;
  margin-top: -1px;
  font-weight: var(--tittle-bold-font-weight);
  color: var(--ocean-green950);
  font-size: var(--tittle-bold-font-size);
  text-align: center;
  line-height: var(--tittle-bold-line-height);
  position: relative;
  font-family: var(--tittle-bold-font-family);
  letter-spacing: var(--tittle-bold-letter-spacing);
  font-style: var(--tittle-bold-font-style);
}

.home .image-2 {
  flex: 1;
  flex-grow: 1;
  background-image: url(https://c.animaapp.com/AyIxxJl1/img/image-2@2x.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  align-self: stretch;
}

.home .text-3 {
  display: flex;
  width: 340px;
  padding: 10px;
  position: absolute;
  top: 74px;
  left: 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home .title-4 {
  width: 280px;
  margin-top: -1px;
  font-weight: var(--tittle-bold-font-weight);
  color: var(--ocean-green950);
  font-size: var(--tittle-bold-font-size);
  text-align: center;
  line-height: var(--tittle-bold-line-height);
  position: relative;
  font-family: var(--tittle-bold-font-family);
  letter-spacing: var(--tittle-bold-letter-spacing);
  font-style: var(--tittle-bold-font-style);
}

.home .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 96px 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--ocean-green50);
}

.home .frame {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--rose-500);
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.home .title-5 {
  width: 1100px;
  margin-top: -1px;
  font-weight: var(--heading-bold-font-weight);
  color: transparent;
  font-size: var(--heading-bold-font-size);
  text-align: center;
  line-height: var(--heading-bold-line-height);
  position: relative;
  font-family: var(--heading-bold-font-family);
  letter-spacing: var(--heading-bold-letter-spacing);
  font-style: var(--heading-bold-font-style);
}

.home .span {
  color: #0d2623;
  font-family: var(--heading-bold-font-family);
  font-style: var(--heading-bold-font-style);
  font-weight: var(--heading-bold-font-weight);
  letter-spacing: var(--heading-bold-letter-spacing);
  line-height: var(--heading-bold-line-height);
  font-size: var(--heading-bold-font-size);
}

.home .text-wrapper-2 {
  color: #287967;
  font-family: var(--heading-bold-font-family);
  font-style: var(--heading-bold-font-style);
  font-weight: var(--heading-bold-font-weight);
  letter-spacing: var(--heading-bold-letter-spacing);
  line-height: var(--heading-bold-line-height);
  font-size: var(--heading-bold-font-size);
}

.home .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 72px 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--ocean-green100);
}

.home .left {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .links-2 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.home .title-6 {
  width: 203px;
  margin-top: -1px;
  font-weight: var(--label-font-weight);
  color: var(--ocean-green950);
  font-size: var(--label-font-size);
  line-height: var(--label-line-height);
  position: relative;
  font-family: var(--label-font-family);
  letter-spacing: var(--label-letter-spacing);
  font-style: var(--label-font-style);
}

.home .title-7 {
  width: 203px;
  font-weight: var(--label-font-weight);
  color: var(--ocean-green950);
  font-size: var(--label-font-size);
  line-height: var(--label-line-height);
  position: relative;
  font-family: var(--label-font-family);
  letter-spacing: var(--label-letter-spacing);
  font-style: var(--label-font-style);
}

.home .title-8 {
  width: fit-content;
  font-weight: var(--label-font-weight);
  color: var(--ocean-green950);
  font-size: var(--label-font-size);
  line-height: var(--label-line-height);
  white-space: nowrap;
  position: relative;
  font-family: var(--label-font-family);
  letter-spacing: var(--label-letter-spacing);
  font-style: var(--label-font-style);
}

.home .frame-2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.home .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--label-font-family);
  font-weight: var(--label-font-weight);
  color: var(--ocean-green950);
  font-size: var(--label-font-size);
  letter-spacing: var(--label-letter-spacing);
  line-height: var(--label-line-height);
  white-space: nowrap;
  font-style: var(--label-font-style);
}

.home .social {
  position: relative;
  flex: 0 0 auto;
}

.home .container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 16px 0px;
  position: relative;
  flex: 0 0 auto;
}

.home .tab-link:hover,
.home .tab-link-2:hover,
.home .button-wrapper:hover,
.home .text-wrapper:hover {
  cursor: pointer;
  /* Troca o cursor para uma mãozinha */
  /* all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 36px;
  align-items: center;
  justify-content: center; */
  gap: 8px;
  flex: 0 0 auto;
  background-color: var(--ocean-green400);
  transition: background-color 0.3s ease;
  border-radius: 100px;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  color: var(--header-light-color); /* Mudança de cor do texto no hover */
  transition: color 0.3s ease;
}

.home .title-9 {
  align-self: stretch;
  width: 521px;
  margin-top: -1px;
  font-weight: var(--body-font-weight);
  color: var(--ocean-green950);
  font-size: var(--body-font-size);
  text-align: center;
  line-height: var(--body-line-height);
  white-space: nowrap;
  position: relative;
  font-family: var(--body-font-family);
  letter-spacing: var(--body-letter-spacing);
  font-style: var(--body-font-style);
}

/* -------------------------------------- */

.home .placeholder-wrapper:hover {
  border-color: var(--ocean-green700); /* Troca a cor da borda */
  box-shadow: 0 0 8px var(--ocean-green700); /* Adiciona sombra */
  cursor: text; /* Troca o cursor para texto */
}

.home .state-layer-wrapper:hover {
  background-color: var(--ocean-green600); /* Troca a cor do fundo */
  box-shadow: 0 0 8px var(--ocean-green600); /* Adiciona sombra */
  cursor: pointer; /* Troca o cursor para uma mãozinha */
}

